.summary-content {
    margin:2% 20% 2% 22%
}
.back-arrow {
    display: flex;
    margin-left: 5%;
    margin-top: 2%;
    cursor: pointer;
    color: blue;
}
.back-arrow div {
    margin-top: 3px;
}
li {
    margin-right: 25px;
}
img {
    margin-top: 2%;
}
app-card {
    margin-top: 5%;
    z-index: -1;
}