<form [formGroup]="loginForm" (submit)="login()">
    <div fxFlex=100 fxLayout="row" fxLayoutAlign="center center" style="height: 100vh;">
        <mat-card fxFlex="center space-around" class="login-card" fxFlex="520px">
            <div fxLayout="column" fxLayoutAlign="center center">
                <div class="avatar-div" fxLayoutAlign="center center">
                    <img class="avatar" src="../../../assets/tv.jpg">
                </div>
                <div class="form-div">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Email</mat-label>
                        <input matInput autocomplete="off" formControlName="email" value="admin@gmail.com">
                        <mat-error *ngIf="!loginForm.controls['email'].valid && loginForm.controls['email'].touched">
                            {{ getErrorMessage('email', 'Email') }} </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-div">
                    <mat-form-field appearance="outline" class="form-field">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'text' : 'password'" autocomplete="off" formControlName="password" value="admin">
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                        <mat-error
                            *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                            {{ getErrorMessage('password', 'Password') }} </mat-error>
                    </mat-form-field>
                </div>
                <div class="button-div">
                    <button mat-button type="submit" class="login-button" >Login</button>
                </div>
            </div>

        </mat-card>
    </div>
</form>